<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/head.njk" %}
    {% block styles %}{% endblock %}
</head>
<body class="flexColumn">
    {% include "blocks/header/header.njk" %}
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    {% include "blocks/footer/footer.njk" %}
    <!-- Скрипты общие для всего сайта - Начало -->
    {% for file in ['main'] %}
        <script src="{{ 'scripts/' + file + '.js' }}"></script>
    {% endfor %}
    <!-- Скрипты общие для всего сайта - Конец -->
    {% block scripts %}{% endblock %}
</body>
</html>