<footer class="footer">
    <div class="container">
        <p class="footer-title">2018 - Made by 
            <a href="https://github.com/gpyshenko" class="footer-link">gpyshenko</a>
        </p>
    </div>
</footer>