<div class="flexColumn-C greeting">
    <div class="greeting-logo">
        {% include "components/Logo/Logo.njk" %}
    </div>
    <h1 class="greeting-title">Gulp Simple</h1>
    <p class="greeting-dscr">Boilerplate for fast page</p>
</div>