{% extends "base/base.njk" %}
{% block styles %}
    {% set stylesArr = [
        {path: 'templates/blocks/greeting/greeting'},
        {path: 'templates/components/logo/logo'}
    ] %}

    {# Стили на этой странице - Начало #}
    {% for file in stylesArr %}
        <link rel="stylesheet" href="{{ file.path + '.css' }}">
    {% endfor %}
    {# Стили на этой странице - Конец #}
{% endblock %}

{% block main %}
    {% include "blocks/greeting/greeting.njk" %}
{% endblock  %}

{% block scripts %}
    {# Скрипты на этой странице - Начало #}
    {% set scriptsArr = [
        {path: 'greeting'}
    ] %}
    {# {% for file in scriptsArr %}
        <script src="{{ file.path + '.js' }}"></script>
    {% endfor %} #}
    {# Скрипты на этой странице - Конец #}
{% endblock %}
