{% extends "base/base.njk" %}
{% block main %}
    <!-- Стили на этой странице -->
    <link rel="stylesheet" href="templates/blocks/navigation/navigation.css">
    <!-- Стили на этой странице -->
{% endblock  %}