{% extends "base/base.njk" %}
{% block styles %}
    {% set stylesArr = [
        {core: 'blocks', dir: 'greeting', name: 'greeting'},
        {core: 'components', dir: 'logo', name: 'logo'}
    ] %}

    {# Стили на этой странице - Начало #}
    {# {% for file in ['slick','slick-theme'] %}
        <link rel="stylesheet" href="{{ 'vendors/' + file + '.css' }}">
    {% endfor %} #}
   
    {% for file in stylesArr %}
        <link rel="stylesheet" href="{{ 'templates/' + file.core + '/' + file.dir + '/' + file.name + '.css' }}">
    {% endfor %}
    {# Стили на этой странице - Конец #}
{% endblock %}

{% block main %}
    {% include "blocks/greeting/greeting.njk" %}
{% endblock  %}

{% block scripts %}
    {# Скрипты на этой странице - Начало #}
    {# {% for file in [{dir: "scripts/", path: "components/info"} %}
        <script src="{{ file.dir + file.path + '.js' }}"></script>
    {% endfor %} #}
    {# Скрипты на этой странице - Конец #}
{% endblock %}